#canvas {
    cursor: crosshair;
}

.icon-line {
    width: 22px;
    height: 16px;
    font-size: 20pt;
    text-align: center;
    transform: translate(-10%, -25%);
}

.input-canvas {
    width: 5em;
}

#chat-ul {
    height: 640px;
    width: 20em;
    overflow: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}
