{% extends 'base.html' %}

{% block content %}
    <script>

        function forceDownload(link, filename){
            var url = link;
            link.innerText = "Working...";
            var xhr = new XMLHttpRequest();
            xhr.open("GET", url, true);
            xhr.responseType = "blob";
            xhr.onload = function(){
                var urlCreator = window.URL || window.webkitURL;
                var imageUrl = urlCreator.createObjectURL(this.response);
                var tag = document.createElement('a');
                tag.href = imageUrl;
                tag.download = filename;
                console.log(filename)
                document.body.appendChild(tag);
                tag.click();
                document.body.removeChild(tag);
                link.innerText="Download Image";
            }
            xhr.send();
        }

        function like(id) {
            var unlike = document.getElementById('unlike-' + id);
            var like = document.getElementById('like-' + id);
            var likes = document.getElementById('likes-' + id);

            likes.innerHTML = parseInt(likes.innerHTML) + 1

            // add like api call

            like.style.display = "none";
            unlike.style.display = "inline-block";
        }

        function unlike(id) {
            var unlike = document.getElementById('unlike-' + id);
            var like = document.getElementById('like-' + id);
            var likes = document.getElementById('likes-' + id);

            likes.innerHTML = parseInt(likes.innerHTML) - 1

            // add remove like api call

            unlike.style.display = "none";
            like.style.display = "inline-block";
        }

    </script>
     {%set x = artworks|length-1%}
    <h1 class="title">Gallery Page</h1>
    {% for i in range(0, artworks|length, 3)%}
        {% if i % 3 == 0 %}
            <div class="row">
            <div class="cell">
                <div class="row_">
                  <div class="cell image" style="background-image:url('{{artworks[i].href}}');">
                      <div class="action_buttons">
                          <div class="cell">
                            <a href="#author" title="Author" id="author-{{artworks[i].owner_id}}">{{artworks[i].owner_name}}</a>
                          </div>
                          <div class="cell">
                            <a href="#likes" title="Likes" id="likes-{{artworks[i].artwork_id}}">{{artworks[i].like_count}}</a>
                          </div>
                          <div class="cell">
                              {% if like_status %}
                              <a href="#unlike" onclick="unlike('{{artworks[i].artwork_id}}')" title="Unlike" id="unlike-{{artworks[i].artwork_id}}" style="display:inline-block; color:red;"><i class="fa fa-heart"></i></a>
                              <a href="#like" onclick="like('{{artworks[i].artwork_id}}')" title="Like" id="like-{{artworks[i].artwork_id}}" style="display:none; "><i class="fa fa-heart-o"></i></a>
                              {% else %}
                              <a href="#unlike" onclick="unlike('{{artworks[i].artwork_id}}')" title="Unlike" id="unlike-{{artworks[i].artwork_id}}" style="display:none; color:red;"><i class="fa fa-heart"></i></a>
                              <a href="#like" onclick="like('{{artworks[i].artwork_id}}')" title="Like" id="like-{{artworks[i].artwork_id}}" style="display:inline-block; "><i class="fa fa-heart-o"></i></a>
                              {% endif %}

                          </div>
                          <div class="cell">
                            <a href="#download" title="Download" id="download-{{artworks[i].artwork_id}}" onclick="forceDownload('{{artworks[i].href}}', '{{ artworks[i].title + '-made-in-online-paint-by-' + artworks[i].owner_name }}')"><i class="fa fa-arrow-down "></i></a>
                          </div>
                    </div>
                  </div>
                </div>
              </div>
            {% if i + 1 <= x %}
            <div class="cell">
                <div class="row_">
                  <div class="cell image" style="background-image:url('{{artworks[i+1].href}}');">
                      <div class="action_buttons">
                          <div class="cell">
                            <a href="#author" title="Author" id="author-{{artworks[i+1].owner_id}}">{{artworks[i+1].owner_name}}</a>
                          </div>
                          <div class="cell">
                            <a href="#likes" title="Likes" id="likes-{{artworks[i+1].artwork_id}}">{{artworks[i+1].like_count}}</a>
                          </div>
                          <div class="cell">
                              {% if like_status %}
                              <a href="#unlike" onclick="unlike('{{artworks[i+1].artwork_id}}')" title="Unlike" id="unlike-{{artworks[i+1].artwork_id}}" style="display:inline-block; color:red;"><i class="fa fa-heart"></i></a>
                              <a href="#like" onclick="like('{{artworks[i+1].artwork_id}}')" title="Like" id="like-{{artworks[i+1].artwork_id}}" style="display:none; "><i class="fa fa-heart-o"></i></a>
                              {% else %}
                              <a href="#unlike" onclick="unlike('{{artworks[i+1].artwork_id}}')" title="Unlike" id="unlike-{{artworks[i+1].artwork_id}}" style="display:none; color:red;"><i class="fa fa-heart"></i></a>
                              <a href="#like" onclick="like('{{artworks[i+1].artwork_id}}')" title="Like" id="like-{{artworks[i+1].artwork_id}}" style="display:inline-block; "><i class="fa fa-heart-o"></i></a>
                              {% endif %}

                          </div>
                          <div class="cell">
                            <a href="#download" title="Download" id="download-{{artworks[i+1].artwork_id}}" onclick="forceDownload('{{artworks[i+1].href}}', '{{ artworks[i+1].title + '-made-in-online-paint-by-' + artworks[i+1].owner_name }}')"><i class="fa fa-arrow-down "></i></a>
                          </div>
                    </div>
                  </div>
                </div>
              </div>
            {% else %}
                <div class="cell">
                <div class="row_">
                </div>
              </div>
            {% endif %}
            {% if i + 2 <= x %}
            <div class="cell">
                <div class="row_">
                  <div class="cell image" style="background-image:url('{{artworks[i+2].href}}');">
                      <div class="action_buttons">
                          <div class="cell">
                            <a href="#author" title="Author" id="author-{{artworks[i+2].owner_id}}">{{artworks[i+2].owner_name}}</a>
                          </div>
                          <div class="cell">
                            <a href="#likes" title="Likes" id="likes-{{artworks[i+2].artwork_id}}">{{artworks[i+2].like_count}}</a>
                          </div>
                          <div class="cell">
                              {% if like_status %}
                              <a href="#unlike" onclick="unlike('{{artworks[i+2].artwork_id}}')" title="Unlike" id="unlike-{{artworks[i+2].artwork_id}}" style="display:inline-block; color:red;"><i class="fa fa-heart"></i></a>
                              <a href="#like" onclick="like('{{artworks[i+2].artwork_id}}')" title="Like" id="like-{{artworks[i+2].artwork_id}}" style="display:none; "><i class="fa fa-heart-o"></i></a>
                              {% else %}
                              <a href="#unlike" onclick="unlike('{{artworks[i+2].artwork_id}}')" title="Unlike" id="unlike-{{artworks[i+2].artwork_id}}" style="display:none; color:red;"><i class="fa fa-heart"></i></a>
                              <a href="#like" onclick="like('{{artworks[i+2].artwork_id}}')" title="Like" id="like-{{artworks[i+2].artwork_id}}" style="display:inline-block; "><i class="fa fa-heart-o"></i></a>
                              {% endif %}

                          </div>
                          <div class="cell">
                            <a href="#download" title="Download" id="download-{{artworks[i+2].artwork_id}}" onclick="forceDownload('{{artworks[i+2].href}}', '{{ artworks[i+2].title + '-made-in-online-paint-by-' + artworks[i+2].owner_name }}')"><i class="fa fa-arrow-down "></i></a>
                          </div>
                    </div>
                  </div>
                </div>
              </div>
            {% else %}
                <div class="cell">
                <div class="row_">
                </div>
              </div>

        {% endif %}
        </div>
        {% endif %}
    {% endfor %}

{% endblock %}
