{% extends 'artworks/base_canvas.html' %}

{% block title %}
    Draw and share
{% endblock %}

{% block right_column %}
    <div style="flex-direction: column">
        {% if current_user.is_authenticated %}
            <form method="post" id="image-form" onsubmit="postImage()">
                {{ form.csrf_token }}
                {{ form.title.label(align='center') }}
                {{ form.title(placeholder='Your awesome title') }}
                {{ form.image(id='image-input') }}
                {{ form.idempotency_key }}
                <center>{{ form.submit(onclick='postImage(event)') }}</center>
            </form>
        {% endif %}
    </div>
{% endblock %}
