{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col" style="text-align: center;">
                <div class="card form-card">
                    <div class="card-text">
                        <form method="post">
                            <h2 style="text-align: center">
                                {% if form_name %}
                                    {{ form_name }}
                                {% else %}
                                    {{ form.submit.label.text }}
                                {% endif %}
                            </h2>
                            <div style="text-align: left">
                                {% if form.errors %}
                                    <h3 style="color: rgb(var(--bs-danger-rgb));">Errors</h3>
                                {% endif %}
                                {% with messages = get_flashed_messages() %}
                                    {% if messages %}
                                        {% for message in messages %}
                                            <li>{{ message }}</li>
                                        {% endfor %}
                                    {% endif %}
                                {% endwith %}
                                {% if form.errors %}

                                    <ul>
                                        {% for field, errors in form.errors.items() %}
                                            <li>
                                                {{ field }}
                                                <ul>
                                                    {% for error in errors %}
                                                        <li>{{ error }}</li>
                                                    {% endfor %}
                                                </ul>
                                            </li>

                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </div>

                            {% for field in form %}
                                {% if field.flags.hidden %}
                                    {{ field }}
                                {% endif %}

                                <div class="mb-3">
                                    {% if not field.flags.hidden and field.type != 'SubmitField' %}
                                        {{ field.label(class_='form-label') }}
                                        {{ field(class_='form-control') }}
                                    {% endif %}
                                </div>

                                {% if field.type == 'SubmitField' %}
                                    {{ field }}
                                {% endif %}

                            {% endfor %}
                        </form>
                    </div>
                </div>

            </div>
            <div class="col"></div>
        </div>
    </div>

{% endblock %}
